
.vs/Lab2/DesignTimeBuild/.dtbcache
.vs/Lab2/v16/.suo
.vs/Lab2/v16/Server/sqlite3/db.lock
.vs/Lab2/v16/Server/sqlite3/storage.ide
.vs/Lab2/v16/Server/sqlite3/storage.ide-shm
.vs/Lab2/v16/Server/sqlite3/storage.ide-wal
*.dll
*.json
*.pdb
*.exe
Client/obj/Client.csproj.nuget.cache
Client/obj/Client.csproj.nuget.g.props
Client/obj/Client.csproj.nuget.g.targets
*.cache
Communication/obj/Communication.csproj.nuget.g.props
Communication/obj/Communication.csproj.nuget.g.targets
Communication/obj/Debug/netcoreapp3.1/Communication.csproj.FileListAbsolute.txt
Server/obj/Debug/netcoreapp3.1/Server.AssemblyInfo.cs
Server/obj/Debug/netcoreapp3.1/Server.csproj.CopyComplete
Server/obj/Debug/netcoreapp3.1/Server.csproj.FileListAbsolute.txt
Server/obj/Server.csproj.nuget.g.props
Server/obj/Server.csproj.nuget.g.targets
Client/obj/Debug/netcoreapp3.1/Client.AssemblyInfo.cs
Client/obj/Debug/netcoreapp3.1/Client.csproj.CopyComplete
Client/obj/Debug/netcoreapp3.1/Client.csproj.FileListAbsolute.txt
